.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f3136; /* Colore di sfondo scuro */
    color: white; /* Colore del testo */
}

.login-card {
    background-color: #36393f; /* Colore della card */
    border-radius: 10px; /* Bordi arrotondati */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
}

.login-button {
    background-color: #5865f2; /* Colore del bottone */
    border: none;
    border-radius: 5px; /* Bordi arrotondati */
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white; /* Colore del testo */
}

.login-button:hover {
    background-color: #434f9e; /* Colore più scuro al passaggio del mouse */
}


.social-button {
    width: 100%;
    border-radius: 5px; /* Bordi arrotondati */
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffd700; /* Colore del testo */
    border: 1px solid black; /* Bordo */
}

.social-button:hover {
    color: black; /* Colore del testo al passaggio del mouse */
    border: #ffb700; /* Bordo al passaggio del mouse */
}

.google-button {
    background-color: black;
    margin: 10px 0 0 0 /* Colore di Google */
}

.google-button:hover {
    background-color: #ffb700; /* Colore più scuro al passaggio del mouse */
}

.facebook-button {
    background-color: black; /* Colore di Facebook */
    margin: 10px 0 0 0;
}

.facebook-button:hover {
    background-color: #ffb700; /* Colore più scuro al passaggio del mouse */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}