
.social-button {
    width: 100%;
    border-radius: 5px; /* Bordi arrotondati */
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffd700; /* Colore del testo */
    border: 1px solid black; /* Bordo */
}

.social-button:hover {
    color: black; /* Colore del testo al passaggio del mouse */
    border: #ffb700; /* Bordo al passaggio del mouse */
}

.google-button {
    background-color: black;
    margin: 10px 0 0 0 /* Colore di Google */
}

.google-button:hover {
    background-color: #ffb700; /* Colore più scuro al passaggio del mouse */
}

.facebook-button {
    background-color: black; /* Colore di Facebook */
    margin: 10px 0 0 0;
}

.facebook-button:hover {
    background-color: #ffb700; /* Colore più scuro al passaggio del mouse */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}